/* styles.css */

/* Reset default margin and padding */
body, h1, h2, h3, p, div, img, button {
    margin: 0;
    padding: 0;
  }
  
  /* App container */
  body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: #fff;
    padding: 10px;
  }
  .navbar .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
  }
  .navbar .logo2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;

  }
  .navbar .logo2 img{
    width:30px;
    
  }

  
  .navbar input {
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #222;
    width:500px;
  }
  
  .navbar button {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* BookGrid */
  .book-grid {
    display: flex;
    gap: 20px;
    margin-top: 30px;
  
  }
  
  .book-card {
    border: 1px solid #ccc;
    
    display: flex;
  }
  .book-card-image{
     width:200px;
  }
  
  .book-card-image img {
    width: 100%;
    height:auto;
    object-fit: cover;
    transform: rotate(-5deg);
    margin-left:20px;

    
  }
  .book-detail-image{
    width:150px;
    height:auto;
 }
 
 .book-detail-image img {
   width: 100%;
   height:auto;
   object-fit: cover;
   transform: rotate(-5deg);
   margin-left:20px;

   
 }
  
  
  
  /* BookDetail */
  
  
  .book-detail-content {
    max-width: 1200px;
    height:auto;
    background-color:  #AB71F461;
  
    padding: 10px 10px 10px 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
  }
  
  
  
  .book-detail-content h2 {
  
    margin-bottom: 10px;
  }
  
  .book-detail-content p {
    margin-bottom: 10px;
    font-size: 12px;
  }
  
  .book-detail-content button, .book-detail-content a {
    padding: 5px 10px;
    margin-right: 10px;
    
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
    border: 2px solid white;
    background-color:  #AB71F461;
    padding: 10px 20px;
  }
  .book-card-content {
    max-width: 250px;
    height:150px;
    background-color: #AB71F461;
    ;
    padding: 10px 10px 10px 35px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
  }
  
  .book-card-content  button:hover, .book-card-content a:hover {
    background-color: #555;
  }
  .book-card-content h2 {
   
    margin-bottom: 10px;
  }
  
  .book-card-content p {
    margin-bottom: 10px;
    font-size: 10px;
  }
  
  .book-card-content button, .book-detail-content a {
    padding: 5px 10px;
    margin-right: 10px;
    
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
    border: 2px solid white;
    padding: 10px 20px;
    margin-left: 20px;
    background-color:  #AB71F461;
    ;
  }
  
  .book-detail button:hover, .book-detail a:hover {
    background-color: #555;
  }
  /* MoreBooks.css */
  .more{
    margin: 30px;
  }
.more-books {
  text-align: center;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

 h2 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 40px;
 
}

.more-books img {
  width: 100%;
  height: 200px;
}

  
  